p {
    background-color: burlywood;
}
#pTagId
.pclass{
    background-color: rgb(231, 220, 95);
    text-align: center;
    font-size: 30px;
    border: solid 2px skyblue;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

p{
    background: linear-gradient(to left, skyblue, green)
}